# Beispiel: Filter
In diesem Abschnitt werden wir das (alles ;-) Gelernte an einem realen Beispiel anwenden. Dazu verwenden wir einen Datensatz mit Informationen zu den Titanic-Passagieren. Achtung: Dieser Datensatz stammt von Kaggle und ist nicht öffentlich. Ich habe die Daten für Sie heruntergeladen und in Ihr Verzeichnis kopiert, um Ihnen die Mühe der Registrierung zu ersparen. Trotzdem gehe ich davon aus, dass Sie die Daten so behandeln, als hätten Sie sie selber runtergeladen, also insbesondere nicht öffentlich machen. Sollten Sie mit den Daten mehr machen wollen, als dieses Notebook zu bearbeiten (also z.B. auf Ihren Laptop kopieren usw.), dann laden Sie sich die Daten bitte selber bei Kaggle runter. Dazu müssen Sie sich registrieren, das ist aber kostenlos. https://www.kaggle.com/c/titanic/data?train.csv

Die Daten liegen im .csv-Format vor, jede Zeile enthält einen Datensatz, die einzelnen Attribute sind durch Komma getrennt. Die erste Zeile enthält die Überschriften der Spalten. Den kompletten Datensatz finden Sie in der Datei train.csv, die ersten zehn Zeilen in der Datei train_short.csv

In [46]:
f = open("train_short.csv")

for line in f:
    print(line.rstrip())

PassengerId;Survived;Pclass;Name;Sex;Age;SibSp;Parch;Ticket;Fare;Cabin;Embarked
1;0;3;Braund, Mr. Owen Harris;male;22;1;0;A/5 21171;7.25;;S
2;1;1;Cumings, Mrs. John Bradley (Florence Briggs Thayer);female;38;1;0;PC 17599;71.2833;C85;C
3;1;3;Heikkinen, Miss. Laina;female;26;0;0;STON/O2. 3101282;7.925;;S
4;1;1;Futrelle, Mrs. Jacques Heath (Lily May Peel);female;35;1;0;113803;53.1;C123;S
5;0;3;Allen, Mr. William Henry;male;35;0;0;373450;8.05;;S
6;0;3;Moran, Mr. James;male;;0;0;330877;8.4583;;Q
7;0;1;McCarthy, Mr. Timothy J;male;54;0;0;17463;51.8625;E46;S
8;0;3;Palsson, Master. Gosta Leonard;male;2;3;1;349909;21.075;;S
9;1;3;Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg);female;27;0;2;347742;11.1333;;S

Die Bedeutung der einzelnen Felder:
<pre>
VARIABLE DESCRIPTIONS:
survival        Survival
                (0 = No; 1 = Yes)
pclass          Passenger Class
                (1 = 1st; 2 = 2nd; 3 = 3rd)
name            Name
sex             Sex
age             Age
sibsp           Number of Siblings/Spouses Aboard
parch           Number of Parents/Children Aboard
ticket          Ticket Number
fare            Passenger Fare
cabin           Cabin
embarked        Port of Embarkation
                (C = Cherbourg; Q = Queenstown; S = Southampton)

SPECIAL NOTES:
Pclass is a proxy for socio-economic status (SES)
 1st ~ Upper; 2nd ~ Middle; 3rd ~ Lower

Age is in Years; Fractional if Age less than One (1)
 If the Age is Estimated, it is in the form xx.5

With respect to the family relation variables (i.e. sibsp and parch)
some relations were ignored.  The following are the definitions used
for sibsp and parch.

Sibling:  Brother, Sister, Stepbrother, or Stepsister of Passenger Aboard Titanic
Spouse:   Husband or Wife of Passenger Aboard Titanic (Mistresses and Fiances Ignored)
Parent:   Mother or Father of Passenger Aboard Titanic
Child:    Son, Daughter, Stepson, or Stepdaughter of Passenger Aboard Titanic

Other family relatives excluded from this study include cousins,
nephews/nieces, aunts/uncles, and in-laws.  Some children travelled
only with a nanny, therefore parch=0 for them.  As well, some
travelled with very close friends or neighbors in a village, however,
the definitions do not support such relations.
</pre>

Zunächst wollen wir die Datei lesen und die Daten in die Einzelteile zerlegen. Dazu lesen wir die Datei zeilenweise und bereiten jede Zeile mit der Funktion make_row(s) auf, die einen String (die Zeile) als Parameter erhält und ein Dictionary zurückliefert, das die Attribute und die jeweiligen Werte enthält. Für die erste Zeile sollte das also so aussehen: {"PassengerId": 1, "Survived": 0, "Pclass": 3, "Name": "Braund, Mr. Owen Harris" , "Sex": "male", "Age": 22, "SibSp": 1, "Parch": 0, "Ticket": "A/5 21171", "Fare": 7.25, "Cabin": "", "Embarked": "S"}

In [ ]:
def make_row(s):
    d = {}
    ...
    return d

print(make_row('1;0;3;Braund, Mr. Owen Harris;male;22;1;0;A/5 21171;7.25;;S'))

Das eigentliche Einlesen der Daten erledingt die Funktion read_data(filename), die den Namen der Datei als Parameter erhält und eine Liste von Dictionaries (ens je Zeile) zurück liefert. Achtung, die erste Zeile enthält die Spaltennamen, sie muss ignoriert und darf nicht an die Funktion make_row gegeben werden.

In [ ]:
def read_data(filename):
    l = []
    ...
    return l

l = read_data("train_short.csv")
print(l[0])

## Auswertung
Zunächst machen wir ein bisschen Statistik. Wie ist das mittlere Alter der Überlebenden (Survived == 1) und das der Opfer ?

In [ ]:
# Nur die, für die das Alter bekannt ist

alle = []
for p in l:
    if (len(p["Age"]) > 0):
        alle.append(p)
        
sum_survived = 0.0
count_survived = 0
sum_dead = 0.0
count_dead = 0

for pers in alle:
    ...

print("Mean Age survived %d" %(sum_survived/count_survived))
print("Mead Age dead %d" %(sum_dead/count_dead))

Schauen wir uns mal an, ob Frauen häufiger überleben als Männer. Dazu gruppieren wir erstmal nach Männern und Frauen: Wir erzeugen uns jeweils eine Liste der Männer und der Frauen

In [ ]:
men = []
women = []
for pers in l:
    ...
print("%d Männer" %len(men))
print("%d Frauen" %len(women))

Und schauen dann, wieviel Prozent jeweils überlebt haben.

In [ ]:
men_survived = 0
for pers in men:
    ...

women_survived = 0
for pers in women:
    ...
    
print("%d Prozent der Frauen haben überlebt" %(100*women_survived/len(women)))
print("%d Prozent der Männer haben überlebt" %(100*men_survived/len(men)))

Und wieviel Prozent der Kinder (unter 15 Jahren) und der Greise (über 70 Jahre) verglichen mit der Gesamtpopulation

In [ ]:
childs_survived = 0
childs_dead = 0
oldies_survived = 0
oldies_dead = 0
all_survived = 0
all_dead = 0

...

Irgendwann wird die Programmiererei auf diese Weise mühsam ...
Könnte man das nicht einfacher machen ?

Erinnern wir uns an die erste Volkszählung mit den Lochkartenmaschinen. Da gab es Maschinen zum Filtern, zum Gruppieren, zum Zählen usw. Damit konnte man einen Stapel Lochkarten Schritt für Schritt bearbeiten.

Nehmen wir unsere erste Aufgabe: Wie ist das mittlere Alter der Überlebenden (Survived == 1) und das der Opfer ?
Hier könnten wir zunächst filtern (Überlebende/Opfer) und dann summieren (Alter) und dann zählen und den Mittelwert ausrechnen.

In [ ]:
def filter_value(dataset,param,value):
    ...

def sum_value(dataset,param):
    ...
    
def count(dataset):
    return len(dataset)

In [ ]:
survived = filter_value(alle,"Survived","1")
dead = filter_value(alle,"Survived","0")

sum_age_survived = sum_value(survived,"Age")
sum_age_dead = sum_value(dead,"Age")

count_survived = count(survived)
count_dead = count(dead)

print("Mean Age survived %d" %(sum_age_survived/count_survived))
print("Mead Age dead %d" %(sum_age_dead/count_dead))

Auch wenn das vielleicht auf den ersten Blick nicht viel einfacher aussieht, als vorhin, ist es das doch:
Man braucht eigentlich nicht mehr wirklich zu programmieren (also beispielsweise keine Schleifen mehr zu erstellen usw.) sondern "nur noch" die einzelnen Funktionen miteinander zu verbinden. Das geht auch noch einfacher ... aber immerhin, eine Verbesserung ist das schon.

Man kann hier sehr viel mehr machen, siehe etwa das Tutorial bei Kaggle https://www.kaggle.io/svf/198371/166ea2e9c1074ca9cd2447c7ee27cf10/__results__.html#introduction

Oder im fünften und sechsten Semester in der KI/Big Data Vorlesung ;-)